<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25655352521-ldfs92q3jkrpkvtrfp1501is7bgggsbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25655352521-ldfs92q3jkrpkvtrfp1501is7bgggsbe</string>
	<key>API_KEY</key>
	<string>AIzaSyDkutvqq7qtr7bvNPadiNxkcXeUcvbODaA</string>
	<key>GCM_SENDER_ID</key>
	<string>25655352521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.subway.mobile.emea.FL</string>
	<key>PROJECT_ID</key>
	<string>subway-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>subway-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25655352521:ios:467b649832ed6711f60118</string>
	<key>DATABASE_URL</key>
	<string>https://subway-mobile-app.firebaseio.com</string>
</dict>
</plist>
